/* Dans App.css */
#root {
  width: 100%;             /* Prend la largeur disponible */
  max-width: 1280px;
  margin: 0 auto;          /* Sécurité supplémentaire pour le centrage */
  padding: 2rem;
  text-align: center;      /* Centre le texte et les éléments inline à l'intérieur */
  
  /* Ajout pour centrer le contenu verticalement si nécessaire à l'intérieur de l'app */
  display: flex;
  flex-direction: column;
  align-items: center; 
}