/* Dans index.css */
body {
  margin: 0;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  min-width: 320px;
  min-height: 100vh;
  width: 100%;             /* Assure que le body prend toute la largeur */
}